.wrap {
	width: 100%;
	margin: 0 auto;
}

.header {
	background-image: url('/upload/images/login.jpg');
	background-repeat:no-repeat;
	background-size: 1200px 600px;
	height: 600px;
	width: 1200px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 50px;
    background-color: oldlace;
	
}

.login>table {
	width: 300px;
	height: 200px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	left: 450px;
	top: 250px;
}

.container {
	width: 1200px;
	position: relative;
	overflow: hidden;
	height: auto;
	margin: 0 auto;
}

.container>.content {
	width: 1130px;
	height: 600px;
	margin: 0 auto;
	line-height: 600px;
}

.container>.content>.club {
	border: solid 2px black;
	float: left;
	width: 350px;
	height: 220px;
	margin: 1%;
}

.description {
	width: 1200px;
	position: relative;
	height: 600px;
	margin: 0 auto;
	background-color: black;
	padding-top: 40px;
	padding-bottom: 40px;
}

.description>.swiper-slide {
	position: absolute;
	margin: 0 auto;
}

.visual {
	clear: both;
	height: 600px;
	width: 100%;
	color: #ffffff;
	text-align: center;
	z-index: 1;
}

.swiper {
	height: 600px;
}

.footer {
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: #221f1f;
	color: #999;
	padding: 20px 0;
}

.footer>.size {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.footer>.size>.sns_area {
	position: absolute;
	bottom: 10px;
	right: 0;
}

.footer>.size>.info>p {
	width: 50%;
	line-height: 22px;
}

.footer>.size>.sns_area>a {
	margin: 10px;
}

.loginHeader {
	width: 100%;
	position: absolute;
    bottom: 200px;
}
.loginForm{
	opacity: 0.9;
	width: 360px;
    margin: 0 auto;
    background-color: slategrey;
    border-radius: 30px;
    
}
.loginForm > .login_title{
	padding-top: 5px;
}
.loginForm > .login_id{
	padding: 6px;
	font-size: 17px;
}
.loginForm > .login_password{
	padding: 6px;
    font-size: 17px;
}
.loginBtnArea {
	padding: 5px;
	width: 350px;
    height: 40px;
	margin: 0 auto;
}
.login_after_Form{
	opacity: 0.9;
	width: 360px;
	height: 180px;
    margin: 0 auto;
    background-color: slategrey;
    border-radius: 30px;
    
}
.login_after_Form > .lform{
	width: 50%;
	float: left;
}
.login_after_Form > .rform{
	width: 50%;	
}
.lform > .member_profile{
	padding: 6px;
	font-size: 17px;
}
.rform > .member_name{
    width: 41%;
    bottom: 56%;
    position: absolute;
    font-size: 22px;
    color: antiquewhite;
}
.rform > .member_info{
    width: 40%;
    position: absolute;
    bottom: 40%;
    font-size: 15px;
    color: white;
}
.rform > .member_joinspot{
	width: 40%;
    position: absolute;
    bottom: 16%;
    font-size: 25px;
    color: white;
}
.member_img{
	width: 60%;
}
div.content1{
    float: right;
    background-color: rgba(0, 0, 0, 0.1); 
    width: 50%;
}
div.content1 > .button{
	padding: 20px;
}
div.lcontents1{
    float: left;
    background-color: #f4f4f4;
    width: 50%; 
}
div.lcontents1 > div.button{
	padding: 20px;
}

.img{
	width: 20%;
	height: 8%;
	float: left;
	margin-bottom: 20px;
}
img {
	
}
.sw_img{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.sw_title{
	padding: 5px 10px;
	position: absolute;
	text-align: center;
	bottom: 90px;
	width: 100%;
    font-size: 45px;
}
.sw_content{
	padding: 5px 10px;
	text-align: center;
	position: absolute;
	bottom: 60px;
	width: 100%;
	font-size: 15px;
}
.hotspot_info{
	padding: 20px;
    background-color: mintcream;
}
.hotspot_more{
	font-size: 16px;
	font-weight: bold;
	position: absolute;
    right: 35px;
    bottom: 10px;
}
.spotname{
	height: 20px;
	padding : 2px;
	font-weight: bold;
	
}
.spotcontent{
	padding : 2px;
}
.spotuser{
	padding : 2px;
}
.spotleader{
	padding : 2px;
}
body {
    margin: 0 auto;
    text-align: center;
}