/* 동아리 설정 영역 */
        .settingHeader{
            font-size: 30px;
            font-weight: 600;
            border-bottom: solid 5px;
            padding: 10px;
            margin: 40px 0;
        }
        .content{
            width:550px;
            height: 600px;
            margin: 0px 100px;
        }
        .content > .setting{
   			width: 750px;
            height: 600px;
            background-color: whitesmoke;
        }
        li.settingItem{
            width: 550px;
            height: 75px;
            margin: 0 auto;
            border-bottom: solid 2px rgb(134, 124, 124);
        }
        .settingList > .settingItem > .itemContent{
            width:85%;
            line-height: 77px;
            float: left;
            font-size: 20px;
            font-weight: 550;
            text-align: left;
        }
        .settingList > .settingItem > .itemSide	{
            width:15%;
            line-height: 77px;
            float: right;
        }
