.leftContent{
}
.titleText1{
    margin: 0 auto;
    text-align: left;
    height: 70px;
    width: 200px;
    line-height: 70px;
}
.titleText1 > .btn1 > a > input{
    font-size: 30px;
    font-weight: 1000;
}
.titleText2{
    margin: 0 auto;
    height: 100px;
    width: 150px;
}
.titleText2 > .btn2 > a > input{
    font-size: 30px;
    font-weight: 1000;
}
.btn1{
    width: 140px;
    height: 60px;
    margin: 0 auto;
}
.btn2{
    width: 140px;
    height: 60px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
}

