@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Jua|Nanum+Gothic&display=swap');

*{
  font-family: 'Nanum Gothic', sans-serif; 
  margin:0;
  padding:0;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 108px;
}
.wrap1{
    width: 1200px;
    margin: 0 auto;
    position: initial;
}

/* header */
div.header{
    height: 100px;
    background-color: #273443;
    color: white;
    line-height: 100px;
}
/* body */
body{
   margin:0 auto;
   text-align: center;
   
}
.info_title{
	position: absolute;
    top: 108px;
	width: 100%;
    height: 56px;
    padding: 8px 0 0 1%;
    background: url(/img/admin/con_tit_bg.gif) repeat-x left top;
}
.info_title h2{
    height: 44px;
    padding: 0px 0 0 23px;
    background: url(/img/admin/con_tit_bullet.gif) no-repeat left center;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #307dd4;
}

.info_content{
	width: 100%;
	padding:20px;
	background-color: mintcream;
	    top: 164px;
	    position: relative;
}
.categorycontainer{
	position: relative;
    top: 108px;
}
.info_content h2{
	width: 100%;
	padding:20px;
	font-size: 25px;
    font-weight: bold;
}
.bblist{
	float: left;
}
.container{
    width: 100%;
    overflow: hidden;
    height: auto; /*값을 안줘도 되지만 길이가 얼마나 될지 모름*/
    padding: 0px;
}
.spotcheck{
	width: 20px;
}
.boxcontainer{
    margin:0 auto; 
    width : 1200px;
    background-color: f4f4f4;
    overflow: hidden;
}
.boxcontainer > div.center{
    width: 1160px;
    margin: 0 auto;
}

div.lcontents1{
    float: left;
    background-color: #f4f4f4;
    width: 50%; 
}
div.lcontents1 > div.button{
	padding: 20px;
}

.img{
	width: 20%;
	height: 8%;
	float: left;
	margin-bottom: 20px;
}
.spotname{
	height: 20px;
	padding : 2px;
	font-weight: bold;
	
}
.spotcontent{
	padding : 2px;
}
.spotuser{
	padding : 2px;
}
.spotleader{
	padding : 2px;
}
div.content1{
    float: right;
    background-color: rgba(0, 0, 0, 0.1); 
    width: 50%;
}
div.content1 > .button{
	padding: 20px;
}

div.circlecontainer{
    background-color: rgba(106, 94, 112, 0.74);
    height: 200px;            
}
.categorycontainer > div.center_info{
    width: 510px;
    margin: 0 auto;
    top: 60px;
    position: relative;
}
.categorycontainer > div.center{
    width: 510px;
    margin: 0 auto;
}
.categorycontainer > div.center_title{
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
	position: relative;
    top: 54px;
}
/* make spot */
.box1{
    width:200px;
    height: 200px;
    background-color: white;
    margin: 15px;
    float : left;
    line-height: 200px;
}
/* spot list */
.box2{
    width:200px;
    height: 200px;
    background-color: white;
    margin: 15px;
    float : left;
    line-height: 200px;
}
.categorybox{
    width:130px;
    height: 130px;
    background-color: slategrey;
    color:black;
    margin: 20px;
    float : left;
    line-height: 130px;
}
.info_box{
    width:130px;
    height: 130px;
    background-color: lightsteelblue;
    color:black;
    margin: 20px;
    float : left;
    line-height: 130px;
}
/* category */
.circle{
    width:140px;
    height:140px;
    background-color: #f4f4f4;
    margin : 30px;
    border-radius: 50%;
    padding-bottom: 50px;
}
.cate_name{
	position: absolute;
    bottom: 50px;
    width: 100%;
}
.circle_title {
	height:50px;
}


/*spotResgistForm --------------------*/
.spotResgistLeftmenu{
    width:35%;
    background-color: #f5cfa8;
    height: 400px;
    float: left;
    text-align: center;
}

.spotResgistLeftbox{
    width:300px;
    height: 300px;
    background-color: white;
    margin: 15px auto;
    line-height: 300px;
}

.spotResgistLeftInfo{
	height: 70px;
}
.spotResgistContent{
    width: 65%;
    height: 400px;
    overflow: hidden;
    background-color: #a5c2a7;
    text-align: center;
    border-bottom: 1px solid #c8c8c8;
}
.spotResgistContent > .center1{
    width: 720px;
    height: 40px;
    margin:0px auto;
}
.spotResgistContent > .center1 > .navi{
    position: relative;
    right: 0px;
    top: 0px;
    line-height: 40px;
    float: right;
    padding-bottom: 0px;
}

.spotResgistContent > .center2{
    width: 720px;
    height: 360px;
    margin: 0px auto;
}

.spotResgistBox{
    width:150px;
    height: 150px;
    background-color: beige;
    margin: 15px;
    float : left;
    line-height: 150px; 
}

* { box-sizing:border-box; }

.spotRegistbutton{
	min-width: 180px;
    height: 44px;
    padding: 10 30px;
    font-size: 14px;
    font-weight: 600;
    color: #666;
	margin: 0 40px auto;
	margin-bottom: 20px;
}
/* form starting stylings ------------------------------- */
.group{ 
   position:relative; 
   margin-bottom:45px;
   margin-top:15px; 
   }
.group > input{
   padding:30px 10px 20px 10px;
   display:block;
   width:100%;
   border:none;
   border-bottom:1px solid #757575;
}
.group > .font{
   font-size:40px;
   padding:30px 10px 20px 10px;
   display:block;
   width:100%;
   border:none;
   border-bottom:1px solid #757575;
}

.group > input:focus{outline:none;}

/* LABEL ======================================= */
label{
   color:#999; 
   font-size:40px;
   font-weight:normal;
   position:absolute;
   pointer-events:none;
   left:5px;
   top:10px;
   transition:0.2s ease all; 
   -moz-transition:0.2s ease all; 
   -webkit-transition:0.2s ease all;
}

/* active state */
 .group >   input:focus ~ label, input:valid ~ label{
   top:-20px;
   font-size:30px;
   color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar{ position:relative; display:block; width:100%; }
.bar:before, .bar:after {
   content:'';
   height:2px; 
   width:0;
   bottom:1px; 
   position:absolute;
   background:#5264AE; 
   transition:0.2s ease all; 
   -moz-transition:0.2s ease all; 
   -webkit-transition:0.2s ease all;
}
.bar:before {
   left:50%;
}
.bar:after {
   right:50%; 
}

/* active state */
.group > input:focus ~ .bar:before, input:focus ~ .bar:after {
   width:1210px;
}

/* HIGHLIGHTER ================================== */
   .highlight {
   position:absolute;
   height:60%; 
   width:100%; 
   top:25%; 
   left:0;
   pointer-events:none;
   opacity:0.5;
}

/* active state */
 .group >   input:focus ~ .highlight {
   -webkit-animation:inputHighlighter 0.3s ease;
   -moz-animation:inputHighlighter 0.3s ease;
   animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
   @-webkit-keyframes inputHighlighter {
   from { background:#5264AE; }
   to 	{ width:0; background:transparent; }
   }
   @-moz-keyframes inputHighlighter {
   from { background:#5264AE; }
   to 	{ width:0; background:transparent; }
   }
   @keyframes inputHighlighter {
   from { background:#5264AE; }
   to 	{ width:0; background:transparent; }
   }

.spotResgistContent > .center1 > .title {
	position: relative;
	top: 10px;
	text-align:left;
	float:left;
}

.swiper-button-next {
    box-sizing: border-box;
    right: 5%;
    margin-top: -35px;
    background: url(/img/visual_next.png) no-repeat center center !important ;
}

.swiper-button-prev {
    box-sizing: border-box;
    right: 5%;
    margin-top: -35px;
    background: url(/img/visual_prev.png) no-repeat center center !important ;
}
#darken-background{
    position: absolute;
    top:0; left: 0; right: 0;
    height: 100%;

    display: none;
    background: rgb(0,0,0,0.9);
    z-index: 10000;
    overflow-y:scroll;
}

#lightbox{
    width:600px;
    margin: 20px auto; padding: 15px;

    border: 1px solid #333333;
    border-radius: 5px;
    background: white;
    box-shadow: 0 5px 5px rgba(34,25,25,0,4);
    text-align: center;
}

.user-information{overflow:hidden; text-align: center;}
.user-information-image{float: left; width: 70px;}
.user-information-text{font-size: xx-large;}
.user-infomation-img{ height: 150px; padding: 20px;}
.lightbox-splitter{margin:10px 0;}


.spot-information-text{font-size: X-large; font-weight: bold;}
.spot-information{overflow:hidden; margin: 30px auto; width: 400px;}
.spot-infomation-img{padding-top: 20px; padding-bottom: 20px;}
#spot_file{ width:100%; }
.spot_content{font-size: 15px; text-align: left;}

.search {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 13px 0;
    text-align: center;
    vertical-align: middle;}

.search select {
    width: 115px;
    height: 25px;
    border: 1px solid #cccccc;
    font-size: 12px;
    vertical-align: middle;
    color: #706a5f;
    margin: 0 5px 0 0;
    display: inline;
}

.search input[type='text'] {
    width: 300px;
    height: 25px;
    border: 1px solid #cccccc;
    vertical-align: middle;
    display: inline;
}

.search input[type='image'] {
    height: 25px;
    border: 1px solid #cccccc;
    vertical-align: middle;
    display: inline;
}
.spot_title{
	font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
#info_file {
	    width: 100%;
}