@charset "UTF-8";

	/*게시판 or 공지사항 리스트 페이지*/
	.board_ctg_name {
		text-align:left;
		font-size:32px;
		margin:30px 10px; /* .visualLeftInner의 padding:10px; .leftMenu의 margin-top:20px;*/
		padding:20px 0 10px 0;
		border-top:3px solid #065093;
		border-bottom:1px solid #e1dcd9;
	}
	
	.board_writing {
		text-align:right;
		font-size:18px;
		color:#5580a0;
		padding:10px 0;
	}
	
	.board_writing>a:hover {
		color:#ffc2c3;
	}
	
	.board_seq {
		text-align:right;
	}	
	
	.board_seq>select {
		height:30px;
	}
	
	.board_list_box {
		margin-top:16px;
		border:solid gray;
		border-width: 3px 0 3px 0;
	}
	
	#boardList {
		margin-bottom: 50px;
	}
	
	.board_top > th {
		font-size:22px;
		padding:5px 0;
		border-bottom: 1px solid #e5e5e5;
	}
	
	.board_art {
		border-bottom: 1px solid #e5e5e5;
	}
	
	.board_art > td {
		font-size:18px;
		padding:8px;
		
	}
	
	.art_title { 
		text-align:left;
		width:450px; 
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		display:inline-block;
	}
	
	.boardSearch {
		margin:20px;
	}
	
	.search_ctg {
		height:32px;
	}
	
	#board_search_btn {
			background-color:#9cb3c5;
			color:white;
			text-align:center;
			font-size:20px;
			border-radius: 12px;
			margin:10px;
			padding: 0 5px;
	}
	
	#pageList {
		margin:30px;
	}
	#pageList span {
		margin:0 5px;
		font-size: 16px;
	}

	#pageList span:hover {
		text-decoration: underline;
	}
	 
	/*게시판 글작성 페이지*/
	.tableRight{
		width:100%;
		height:30px;
		}
	
	.writing_box {
		padding:5px;
	}
	
	#boardTable{
		margin:30px 0;
		border : 1px solid #f0f0f0;
		}
		
		
	#boardTable th{
	width:300px;
	margin : 10px 0;
	font-size: 16px;
	background-color : #fff7ee;
	}
		
	#contents {
		width:930px;
		min-height:500px;
		margin:0 auto;
	}
	
	.writing_btns span {
		margin:5px;
	}
	
	.writing_btns span .btns {
		    min-width: 180px;
		    height: 44px;
		    padding: 10 30px;
		    font-size: 14px;
		    font-weight: 600;
		    color: #666;
		    margin: 0 40px auto;
		    margin-bottom: 20px;
	}
